[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

tinydb = "*"
"beautifulsoup4" = "*"
click = "*"
feedparser = "*"
logzero = "*"
lxml = "*"
typing = "*"
youtube-dl = "*"


[dev-packages]

"flake8" = "*"
"flake8-import-order" = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pypandoc = "*"
twine = "*"
pytest-cov = "*"
codecov = "*"
tox = "*"
isort = "*"
